<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Week5 - 進階語法介紹</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <style>
    img {
      max-width: 100%;
      height: auto;
    }
  </style>
</head>

<body>
  <div id="app">
    <!-- 產品列表 -->
    <div class="bg-light py-5">
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">圖片</th>
              <th scope="col">商品名稱</th>
              <th scope="col">價格</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in products" :key="item.id">
              <th scope="row"><img :src="item.imageUrl" alt="" width="50"></th>
              <td>{{ item.title }}</td>
              <td>${{ item.price }}</td>
              <td class="text-end">
                <button type="button" class="btn btn-outline-secondary btn-sm" @click="openModal(item)">查看更多</button>&nbsp;
                <button type="button" class="btn btn-primary btn-sm" @click="addToCart(item.id)">加入購物車</button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination :pagination="pagination" @emit-pages="updateProducts"></pagination>
      </div>
    </div>
    <!-- 購物車 -->
    <div class="container">
      <div class="row flex-column align-items-center">
        <div class="col-6">
          <h2 class="py-5 text-center fw-bold">Cart</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">刪除</th>
                <th scope="col">商品圖</th>
                <th scope="col">品名</th>
                <th scope="col">數量/單位</th>
                <th scope="col">單價</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in carts">
                <th scope="row">
                  <a href="" class="btn btn-sm btn-outline-secondary">
                    <i class="bi bi-x-lg" style="line-height: 100%;"></i>
                  </a>
                </th>
                <td></td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td colspan="4" class="text-end">總計</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-6">
          <div class="border border-2 border-light p-5">
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
                <div id="emailHelp" class="form-text">
                  We'll never share your email with anyone else.
                </div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" />
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">
                  Check me out
                </label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <product-modal ref="callModal" :product-item="productItem" ></product-modal>
    <!-- app end -->
  </div>
  <!-- component - pagination -->
  <script type="text/x-template" id="paginationTemp">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" :class="{ disabled : !pagination.has_pre}">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item" v-for="item in pagination.total_pages"><a class="page-link" href="#" @click.prevent="emitPages(item)">{{ item }}</a></li>
        <li class="page-item" :class="{ disabled : !pagination.has_next}">
          <a class="page-link" href="#" aria-label="Next" >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </script>
  <!-- component - modal -->
  <script type="text/x-template" id="productModalTemp">
    <div class="modal fade" ref="productModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white">
          <h5 class="modal-title" id="staticBackdropLabel">{{ productItem.title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <img :src="productItem.imageUrl" alt="">
            </div>
            <div class="col-6">
              <span class="badge rounded-pill bg-dark">{{ productItem.category }}</span>
              <h3 class="fw-bold mt-2">{{ productItem.title }}</h3>
              <p>{{ productItem.content }}<br> <span class="text-secondary">{{ productItem.description }}</span></p>
              
              <p><span class="fw-bold fs-5">$</span>&nbsp;<span class="fw-bold fs-3">{{ productItem.price }}</span>&nbsp;&nbsp;<span class="text-decoration-line-through fs-6">${{ productItem.origin_price }}</span>&nbsp;&nbsp;<span class="fs-6">∕ {{ productItem.unit }}</span></p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
        </div>
      </div>
    </div>
  </div>
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js"
    integrity="sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
  <!-- vue -->
  <script src="https://unpkg.com/vue@3"></script>
  <!-- 表單驗證 -->
  <script src="https://unpkg.com/vee-validate"></script>
  <script src="./js/cart.js"></script>
</body>

</html>